.main-content {
  position: relative;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 20px;
  padding: 5px;

  overflow-y: auto;

  .tabs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .tab-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }

  .add-buttons {
    display: flex;
    flex-direction: row;
    margin: 10px;

    .add-dialog {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
